# I did use compatible version with my rtx 4060
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

Django>=5.0.0
djangorestframework>=3.14.0
django-cors-headers>=4.3.1
python-dotenv>=1.0.0
gunicorn>=21.2.0

chromadb>=0.4.22
neo4j>=5.14.0

langchain-core
langchain-community
langchain-text-splitters
langchain-experimental
langchain-huggingface
langchain-groq
langchain-chroma
langchain-ollama       

sentence-transformers>=2.2.2
transformers>=4.36.0
accelerate>=0.25.0
rank_bm25
bitsandbytes           

pypdf>=3.17.0
pandas>=2.1.0
numpy>=1.26.0
tqdm
pdfminer.six        